{% extends 'base.html' %}

{% block content %}

<body>
    {% if user_data %}
    <h1>User "{{user_data['first_name']}} {{user_data['last_name']}}" created!</h1>
    {% else %}
    <h2>Enter the User's data</h2>
    <form method="POST">
        {{ form.hidden_tag() }}
        {{ form.first_name.label }} {{ form.first_name }} <br>
        {{ form.last_name.label }} {{ form.last_name }} <br>
        {{ form.email.label }} {{ form.email }} <br>
        {{ form.sport.label }} {{ form.sport }} <br>
        {{ form.submit }}
    </form>
    {% endif %}
</body>
{% endblock %}