{% extends 'base.html' %}


{% block content %}

<body>
    {% if user.contests_available() == [] %}
    <h3>Unfortunately, no contests fitting your profile are available now</h3>
    {% else %}
    <h3>{{user.first_name}}, here are contests available for you:</h3>
    {% for contest in CONTESTS %}
    {% if contest.sport == user.sport and not contest.is_finished() and user.id not in contest.participants %}
        <a href="{{url_for('front_user_assigned', user_id = user.id, contest_id = contest.id)}}">{{contest.name}}</a><br>
    {% endif %}
    {% endfor %}
    {% endif %}
</body>
{% endblock %}